# Byte-compiled / optimized / DLL files
/__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Secrets and Config
.env
.python-version

# dont exclude whole dirs
!data/
!data/chroma_db/
!data/finetuning/
!models/

hf_models/

# Data and Artifacts (The "Heavy" Stuff)
data/chroma_db/*
data/finetuning/*

# Models and Pickles
models/*

# But keep gitkeep
!data/chroma_db/.gitkeep
!data/finetuning/.gitkeep
!models/.gitkeep
!hf_models/.gitkeep

# notebook cache
.ipynb_checkpoints

# Meta data
*.egg-info/

# Streamlit and UI
.streamlit/config.toml
.streamlit/secrets.toml

# OS and IDE
.DS_Store
.idea/
.vscode/
*.swp

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/